<section class="hero fixed-top" >
  <div class="hero-head">
  <nav class="navbar" [ngClass]= "{'page-scroll-header': isScrolled}">
    <div>
      <h1 class="title">
      <div class="background"> {{names}}</div>
    </h1>
    </div>
    <div class="navbar-brand">
      <div class="navbar-burger burger is-light" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start"></div>
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-item">
            <div class="background">Menu</div>
          </a>
          <div class="navbar-dropdown is-right">
                <a class="navbar-item" scrollTo href="#section-0">
                  Our Story
                </a>
                <a class="navbar-item" scrollTo href="#section-1">
                  About Us
                </a>
                <a class="navbar-item" scrollTo href="#section-2">
                  When & Where
                </a>
                <a class="navbar-item" scrollTo href="#section-3">
                  Registry
                </a>
                <a class="navbar-item" scrollTo href="#section-4">
                  RSVP
                </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>
