<div class="container is-centered">
  <h3 class="has-text-centered">
    <!--      <img src="" />-->
    RSVP
  </h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="has-text-centered">
    <input id="name"  maxlength=50 type="text"  placeholder="Name" onPaste="return false" [formControl]="form.controls['name']">


    <div *ngIf="showHideGuest=='Yes'">
      <input type="number" min="0" max="10" placeholder="# of guest" onPaste="return false" onKeyPress="if(this.value.length==2) return false;" (click)="update()" (keypress)="update()" [formControl]="form.controls['numberOfGuest']">
      <textarea id="people"  maxlength=500 type="textarea"  placeholder="Guests Names" onPaste="return false" [formControl]="form.controls['people']"></textarea>
      <textarea id="special"  maxlength=500 type="textarea"  placeholder="Special Needs, or Loving Messages" onPaste="return false" [formControl]="form.controls['message']"></textarea>
    </div>
    <br>

    <label>Attending?</label>
    <input id="checkBox1" type="radio" title=""  [(ngModel)]="showHideGuest" value="Yes" (click)="update()" [formControl]="form.controls['attending']"> Yes
    <input id="checkBox2" type="radio" title=""  [(ngModel)]="showHideGuest" value="No"  (click)="update()" [formControl]="form.controls['attending']"> No
    <br>

    <button type="submit" style="display: none;"  (click)="open()">Modal</button>
    <button type="submit" (click)="open()" [disabled]="form.invalid">Submit</button>
    <div>
      <label class="smallLabel">* All fields required"</label>
    </div>
  </form>
</div>
