<app-header>
  [links]="links"
  [names]="names">
</app-header>


<div class="parallax_0"></div>
<section id="section-0" class="story-section content-section">
  <div class="inner">
    <h3>
      Our Story
    </h3>
    <p>
      We met at a Summer Church trip and became friends. Several weeks of hanging out between classes later,
      I gave her a note. She waited a 4 long hours before finally saying yes.
    </p>
  </div>
</section>


<div class="parallax_1"></div>
<section id="section-1" class="where-section content-section">
  <div class="inner2">
    <h3>
      About Us<br />
    </h3>

    <div style="width: 45%; float:left">
      <h4>
        Tyler Velasco<br />
      </h4>
      <br>
      <p>
        Tyler is a 23 year old IT professional at Dillards Inc. He spends his spare time on the computer, watching football, and being lazy.
      </p>
      <img [src]="fullImagePath2" >
    </div>
    <div>

    </div>
    <div style="width: 45%; float:right">
      <h4>
        Breigh Arendall<br />
      </h4>
      <br>
      <p>
        Breigh is a 23 year old UCA student. She loves to spend her time drawing, painting,
        and taking pictures of everything, literally everything.
      </p>
      <img [src]="fullImagePath1" >
    </div>
    <p>
      <br><br><br><br><br><br><br><br>
    </p>

  </div>
</section>

<div class="parallax_2"></div>
<section id="section-2" class="where-section content-section">
  <div class="inner">
    <h3>
      Celebrate With Us<br />
      September 22nd, 2018<br />
      <small>3:00 - 9:00 PM</small>
    </h3>

    <p>
      Bobrook Farms<br />
      13810 Combee Lane<br />
      Roland, AR 72135<br />
      <a href="https://www.google.com/maps/dir/''/bobrook+farms+map/@34.887163,-92.5696138,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x87cd61a6ed2392ff:0x1b2049dacac61321!2m2!1d-92.4995737!2d34.8871831" target="_blank">Map</a>
    </p>

  </div>
</section>

<div class="parallax_1"></div>
<section id="section-3" class="registry-section content-section">
  <div class="inner">
    <h3>
      Registry
    </h3>
    <div style="width: 45%; float:right">
      <a href="https://www.bedbathandbeyond.com/" target="_blank"><img [src]="fullImagePath4"></a>
    </div>
    <div style="width: 45%; float:left">
      <a href="https://www.dillards.com/registry" target="_blank"><img [src]="fullImagePath5"></a>
    </div>
    <br><br><br><br><br><br><br>
    <p>
      We are registered at:
      <a href="https://www.dillards.com/registry" target="_blank">Dillards</a>, and
      <a href="https://www.bedbathandbeyond.com/" target="_blank">Bed, Bath, and Beyond</a>
      <!--<a href="http://target.com" target="_blank">Target</a>-->
    </p>

  </div>
</section>

<div class="parallax_3"></div>
<section id="section-4" class="registry-section content-section">
  <div class="inner">
    <h3>
<!--      <img src="" />-->
      RSVP
    </h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <input id="name" type="text" placeholder="Name" [formControl]="form.controls['name']">
      <div *ngIf="showHideGuest=='Yes'">
        <input type="number" placeholder="# of guest"  [formControl]="form.controls['numberOfGuest']">
      </div>
      <br>
      <label>Attending?</label>
      <input id="checkBox1" type="radio"  [(ngModel)]="showHideGuest" value="Yes" [formControl]="form.controls['attending']"> Yes
      <input id="checkBox2" type="radio"  [(ngModel)]="showHideGuest" value="No"  [formControl]="form.controls['attending']"> No
        <br>
      <button type="submit" [disabled]="form.invalid">Submit</button>
    </form>
  </div>
</section>

